html, body {
  color: rgba(0,0,0,0.87);
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

article > p {
  line-height: 1.5;
  text-align: justify;
}

aside {
  box-sizing: border-box;
  width: 100%;
}

@media screen and (min-width: 640px) {
  aside {
    float: right;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    width: 15rem;
  }
}

h1 {
  line-height: 1.375;
  margin: 2rem 0;
  text-align: center;
}

a {
  color: #0091EA;
}
